.container {
    width: 1800px;
    height: 900px;
    margin-top: 50px;
    overflow: scroll;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.container h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    height: 500px;
    overflow: hidden;
    width: 400px;
    float: left;
    margin: 10px 10px 10px
}

.card>figure {
    width: 90%;
    margin: 20px auto 0 auto;
}

.card>figure>img {
    width: 100%;
}

.details {
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top: 85%;
    width: 100%;
    transition: box-shadow .3s ease-in-out, top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
    top: 40%;
}

.details>.min-details,
.details>.options,
.details>.options>.options-size,
.details>.options>.options-colors {
    margin-bottom: 20px;
}

.details>.min-details {
    display: flex;
    justify-content: space-between;
}

.details>.min-details>h1>span {
    color: #7B7B7B;
    display: block;
    font-size: .9rem;
    font-weight: 400;
}

.details>.options h1 {
    margin-bottom: 5px;
}

.details>.options ul {
    list-style-type: none;
    display: flex;
}

.details>.options ul li {
    text-align: center;
}

.options-size>ul>li {
    color: black;
}

.options-size>ul>li:hover {}

.btn {
    background-color: #000000;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: box-shadow .3s ease-in-out, transform .3s ease-in-out;
}

.btn:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    transform: translateY(-2px);
}

.container ul li {
    text-decoration: none;
    list-style: none;
}

.pop-in-delay {
    animation-name: pop-in-delay;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(0.5);
}

@keyframes pop-in-delay {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}